This script assumes the following preliminary steps were taken:
1. The iris.zip file was downloaded from https://archive.ics.uci.edu/dataset/53/iris and placed in the `data/raw/` folder
2. The iris.zip compressed file was extracted. Now you should have `/data/raw/iris/` which contains a few files such as Index, iris.data, iris.names, etc.

The output of this notebook is the following CSV in /data/processed directory:
- iris.csv
- X_scaled.csv
- y_encoded.csv

## Setup

In [20]:
%pip install pandas
%pip install numpy
%pip install scikit-learn
%pip install matplotlib

Requirement already satisfied: pandas in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scikit-learn in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (1.7.2)
Requirement already satisfied: numpy>=1.22.0 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.8.0 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from scikit-learn) (1.16.2)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=3 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/local/anaconda3/envs/image_classification/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import LabelEncoder, StandardScaler

## Preprocessing

In [22]:
df = pd.read_csv(
    '../data/raw/iris/iris.data', 
    names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
)

In [23]:
X = df.drop('species', axis=1)
scaler = StandardScaler()

# Z Score Normalization. Ensure numerical features have mean 0 and a standard deviation of 1 (gaussian).
X_scaled = scaler.fit_transform(X)

In [24]:
y = df['species']
encoder = LabelEncoder()
# Species has the following unique vals. We want to encode them as numerical values
# array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)
y_encoded = encoder.fit_transform(y)

In [25]:
X_scaled_df = pd.DataFrame(
    X_scaled,
)
X_scaled_df

            0         1         2         3
0   -0.900681  1.032057 -1.341272 -1.312977
1   -1.143017 -0.124958 -1.341272 -1.312977
2   -1.385353  0.337848 -1.398138 -1.312977
3   -1.506521  0.106445 -1.284407 -1.312977
4   -1.021849  1.263460 -1.341272 -1.312977
..        ...       ...       ...       ...
145  1.038005 -0.124958  0.819624  1.447956
146  0.553333 -1.281972  0.705893  0.922064
147  0.795669 -0.124958  0.819624  1.053537
148  0.432165  0.800654  0.933356  1.447956
149  0.068662 -0.124958  0.762759  0.790591

[150 rows x 4 columns]

In [26]:
y_encoded_df = pd.DataFrame(
    y_encoded
)
y_encoded_df

     0
0    0
1    0
2    0
3    0
4    0
..  ..
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

In [27]:
df.to_csv('../data/processed/iris.csv', index=False)
X_scaled_df.to_csv('../data/processed/X_scaled.csv', index=False)
y_encoded_df.to_csv('../data/processed/y_encoded.csv', index=False)